{% extends 'base.html' %}
{% load static %}

<!-- content pre-roll -->
{% block pre-roll %}
<!-- ***** Main Banner Area Start ***** -->
<div class="page-heading about-page-heading" id="top">
    <div class="container">
	<div class="row">
	    <div class="col-lg-12">
		<div class="inner-content">
		  <h2>{{title}}</h2>
		</div>
	    </div>
	</div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->

<div class="about-us">
    <div class="container">
	<div class="row">
	    <div class="col-lg-12">
{% endblock pre-roll %}

<!-- foot roll, it's not quite a footer :p -->
{% block foot-roll %}
	    </div>
	</div>
    </div>
</div>
{% endblock foot-roll %}
