{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- ***** Main Banner Area Start ***** -->
    <div class="page-heading about-page-heading" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>Contact Us</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** Contact Area Starts ***** -->
    <div class="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
		  E-mail us at <a href="mailto:support@pigscanfly.ca">support@pigscanfly.ca</a> :D
                </div>
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>Say Hello. Don't Be Shy!</h2>
                        <span>
			  <p>Having problems with one of your devices? Maybe one of us forget our ID at Alice's Restaurant? Or maybe you have a question about the timeline for our projects. Maybe you want to carry one of our products? Regardless, we'd be excited to hear from you! You can e-mail us at support@pigscanfly.ca or text us at +1-202-938-3266 (no phone calls, please, we are millennials). For security issues, please e-mail security@pigscanfly.ca, but you can also text us.</p>
			  <p>
			    If (for legal reasons, like maybe our car's extended warranty is about to expire) you need our mailing address, it is:
			  </p>
			  <p>
			    Pigs Can Fly Labs LLC

			    9450 SW Gemini Dr PMB 41687

			    Beaverton, Oregon 97008-7105 US
			  </p>
			  <p>
			    You might notice this is not in San Francisco, and you'd be right. We could hardly give away our top-secret lab location on the internet, could we? More seriously, the fine folks at EarthClass Mail are based in Oregon and do a great job of scanning our incoming mail (which is great because we are a little disorganized when it comes to papers.)
			  </p>
			  <p>
			    For returns and other issues, please reach out first so we can help you with a return-to-manufacturer-authorization (RMA) (our post office box is not designed for that purpose).
			  </p>
			</span>
			
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Contact Area Ends ***** -->

{% endblock content %}
